<nav class="navbar navbar-expand-lg navbar-light bg-light main-navbar">
    <div class="container-fluid">
      <a class="navbar-brand navlink" routerLink="/">Weather App</a>
      

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item setitem">
            <a class="nav-link  active navlink" aria-current="page" routerLink="/home">Home</a>
          </li>
        </ul>
    </div>
  </nav>