.main-navbar{
    background-color: #000!important;
}
.navlink{
    color:#fff!important;
}
.respnav{
    background-color: #f5f5f5;
}

@media screen and (max-width: 991px){
    .setitem{
        padding-top: 6px;
    }
}