.weatehr_main{
    padding: 50px 0px;
}
.main_heading{
    padding: 0px 0px 15px 0px;
}
.main_list{
    box-shadow: 0px 0px 10px #ddd;
    border-radius: 4px;
    border:none;
    margin:2px;
}
.main_list > p{
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}
.main_list > p > span{
    font-weight: normal;
    padding: 0px;
    margin: 0px;

}
.img_space{
    margin-bottom: 20px;
}