<div class="container-fluid">
    <div class="container">
        <div class="row weatehr_main">
            <div class="col-xs-12 col-sm-6 col-md-7 img_space" *ngIf="weatherDetailData.city">
                <bgcomponent [city]="weatherDetailData.city.name"></bgcomponent>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-5">
                <h3 class="main_heading">{{weatherDetailData.city.name}} Weather Details</h3>
                <div class="spinner-border text-primary" role="status" *ngIf="weatherDetailData?.list.length === 0">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item main_list" *ngFor="let listItem of weatherDetailData.list">
                        <p>Date: <span>{{listItem.dt_txt}}</span></p>
                        <p>Sea Level : <span>{{listItem.main.sea_level}}</span></p>
                        <p>Ground Level : <span>{{listItem.main.grnd_level}}</span></p>
                    </li>
                  </ul>
            </div>
        </div>
    </div>
</div>