<div class="container-fluid">
   <div class="container space_container">
       <div class="row">
        <div class="spinner-border text-primary" role="status" *ngIf="AllCitiesWeather?.length === 0">
          <span class="visually-hidden">Loading...</span>
        </div>
           <div class="col-xs-12 col-sm-12 col-md-4" *ngFor="let city of AllCitiesWeather">
            <div class="card fl_width">
                <bgcomponent class="card-img-top fixedheight" [city]="city.name"></bgcomponent>
                <div class="card-body">
                  <h5 class="card-title">City:{{city.name}}</h5>
                  <p class="card-text">Temparature:{{city.main.temp}}</p>
                  <p class="card-text">Sunrise: {{city.sys.sunrise}}</p>
                  <p class="card-text">Sunset: {{city.sys.sunset}}</p>
                  <a (click)="openDetailsPage(city.id)" class="btn btn-primary">View Details</a>
                </div>
              </div>
            </div>
           
       </div>
   </div>
</div>