.space_container{
    padding: 50px 0px;
}
.fl_width{
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}
.fixedheight{
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
